@import url('https://fonts.googleapis.com/css?family=Heebo');

body {
  direction: rtl;
  margin: 0;
  font-family: 'Heebo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: hsl(33, 73%, 94%);
  color:hsl(33, 33%, 18%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
